@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=IBM+Plex+Mono:wght@400;700&family=Karma:wght@300;400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* apply to border-box */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: 'Karma', serif;
    font-size: 16px;

    @apply text-gray-900 bg-blue-50;
  }

  html, body, #root {
    height: 100%;
  }

  * {
    font-family: inherit;
  }

  .bg-img-amazed {
    background-image: url('./assets/bg-blown.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .font-heading {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
  }

  .heading {
    @apply font-heading;
  }

  h1,
  h2,
  h3,
  h3,
  h5,
  h6 {
    @apply heading;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }
}
